doctype html
html
  head
    title= 'Index - Web App Boiler Plate'
    link(rel='stylesheet', href='styles/boostrap.min.css', type="text/css")
  body
    block content
    script(src='/scripts/jquery-3.4.1.min.js')
    script(src='/scripts/bootstrap.bundle.min.js')